@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

p,
h1 {
  color: white;
  font-family: poppins;
  margin: 0;
}

.clientElement {
  cursor: pointer;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: white;
}

tbody {
  display: block;
  height: 50px;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* even columns width , fix width of table too*/
  text-align: center;
}
thead {
  background-color: #333;
  cursor: pointer;
  width: calc(
    100% - 16px
  ); /* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
  width: 1000px;
}

.title {
  font-size: 3em;
  text-align: center;
  color: white;
}
